<div>
    <div class="col-md-12 host">
      Bienvenido!
    </div>
    <br>
    <a routerLink="/dashboard" class="back-button">
      <div class="arrow-left"></div> Volver
    </a>
    <div *ngIf="!roomCode; else elseBlock">
      <div class="col-md-6 offset-md-3 ">
        <div class="row">
    
          <!-- Aquí va el formulario para HOST -->
          <h1>Creación de sala de juego</h1>
          <br>
          <p>Seleccione qué actividades quiere que formen parte de su sala:</p>
          <br>
          <br>
  
          <form>
              <div *ngFor="let actividad of checkeados; let i = index;">
                  <input type="checkbox" name="actividad{{actividad.id}}" [(ngModel)]="checkeados[i].checked">
                  <label for="actividad{{actividad.id}}">{{actividad.name}}</label>
              </div>
              <button type="button" (click)="crearSala()">Crear sala</button>
          </form>
  
        </div>
      </div>
    </div>

    <ng-template #elseBlock>
      <div class="row text-center">
        <h4>Usa este codigo para entrar a tu sala:</h4>
        <h1>
          {{roomCode}}
        </h1>
        <h6>Compartelo con tus amigos para que puedan entrar tambien</h6>
      </div>
    </ng-template>

  </div>