<div class="container-fluid">
  <div class="col-md-12 host row">
    Bienvenido!
  </div>
  <br>
  <a routerLink="/admindashboard" class="back-button">
    <div class="arrow-left"></div> Volver
  </a>
  <div class="col-md-6 offset-md-3 ">
    <div class="row">

      <!-- Aquí va el formulario para HOST -->
      <h1>Creación de actividad</h1>
      <br>
      <br>
      <br>

      <form>
        <input type="text" placeholder="Título de la actividad" [(ngModel)]="titulo" [ngModelOptions]="{standalone: true}" />
        <textarea id="descripcion" placeholder="Ingrese una descripcion para la actividad..."
          [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}"></textarea>
        <p>Ingrese una imágen para la actividad *Opcional*</p>
        <div class="mb-3">
          <input type="file" class="form-control" aria-label="file example" required [(ngModel)]="img" [ngModelOptions]="{standalone: true}">
          <div class="invalid-feedback">Example invalid form file feedback</div>
        </div>
        <button type="button" (click)="crearActividad()">Crear actividad</button>
      </form>
    </div>
  </div>
</div>