<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 host">
            Bienvenido @Username!
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1>Que te gustaría hacer?</h1>
        <div class="button-container">
            <!-- Contenedor para los botones -->
            <button class="button">Crear sala de juego</button>
            <a routerLink="/admindashboard/crearactividad"><button class="button">Crear nueva actividad</button></a>
        </div>

    </div>

</div>
