body, html {
    height: 100%;
    margin: 0;
  }
  
  .container-fluid {
    height: 100%;
  }
  
  .row {
    height: 50%;
    text-align: center;
  }
  
  .col-md-12 {
    padding: 20px;
    color: #fff;
    height: 100%;
  }
  
  .host {
    background-color: #5bc0de; /* Color para el lado HOST */
  }

  .button-container {
    text-align: center;
    margin-top: 50px; /* Espacio entre el header y los botones */
  }
  
  .button {
    margin: 0 20px; /* Espacio horizontal entre los botones */
    padding: 18px 70px;
    background-color: #0074d9; /* Color de fondo del botón */
    color: #fff; /* Color de texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
    transform: scale(1.1);
  }

  .back-button {
    display: inline-flex;
    align-items: center;
    font-size: 18px; /* Ajusta el tamaño del texto del botón */
    text-decoration: none;
    padding: 10px 20px; /* Ajusta el relleno del botón */
    background-color: #337ab7; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none;
    border-radius: 5px; /* Agrega bordes redondeados al botón */
  }
  
  .arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    margin-right: 10px; /* Espacio entre la flecha y el texto */
  }
  
  .back-button:hover {
    background-color: #286090; /* Color de fondo en hover */
  }

  .back-button-container {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    text-align: left; /* Alinea el contenido a la izquierda */
}

