<div class="container-fluid">
    <div *ngIf="!showLobby && !showVoting && !showResults " class="row">
      <div class="col-md-6 host-btn" (click)="showHostForm()">
        HOST
      </div>
  
      <div class="col-md-6 join-btn" (click)="showJoinForm()">
        JOIN
      </div>
    </div>
  
    <div *ngIf="showHost" class="row">
      <div class="col-md-6 offset-md-3">
        <form>
          <input type="text" placeholder="Usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
          <input type="password" placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          
          <button type="button" (click)="login()">Login</button>
        </form>
        <a routerLink="/register" class="back-button">
        Deseas crear una cuenta?
        </a>
      </div>
    </div>
  
    <div *ngIf="showJoin" class="row">
      <div class="col-md-6 offset-md-3">
        <form>
          <input type="text" placeholder="Número de Sala" [(ngModel)]="roomNumber" [ngModelOptions]="{standalone: true}">
          <input type="text" placeholder="Nombre a mostrar" [(ngModel)]="joinName" [ngModelOptions]="{standalone: true}">
          
          <button type="button" (click)="join()">Ingresar</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="showLobby" class="row">
    <app-lobby [start]="start"></app-lobby>
  </div>

  <div *ngIf="showVoting" class="row">
    <app-votacion [roomId]="roomNumber"></app-votacion>
  </div>

  <div *ngIf="showResults" class="row">
    <app-resultados [roomId]="roomNumber"></app-resultados>
  </div>